/*
 * Copyright 2002 the Blitzed IRC Network All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 *     1.  Redistributions of source code must retain the above copyright
 *         notice, this list of conditions and the following disclaimer.
 *
 *     2.  Redistributions in binary form must reproduce the above
 *         copyright notice, this list of conditions and the following
 *         disclaimer in the documentation and/or other materials provided
 *         with the distribution.
 *     3.  Neither the name of the Blitzed IRC Network, nor the names of
 *         its contributors may be used to endorse products derived from
 *         this work without specific prior written permission.
 *
 * See the Blitzed Software License for more details, a copy of which
 * should have been provided with this software in the file "COPYING". If
 * not, a copy may be obtained from
 * http://www.blitzed.org/docs/license.phtml
 */

/* Chanlist start */

.chanList {
	border-collapse: collapse;
	width: 100%;
}

.chanList TD {
	vertical-align: top;
	margin: 0px;
	border-top: 1px solid #000;
	padding: 4px 0 8px 4px;
}

.chanList TH {
	white-space: nowrap;
	font-size: 14px;
	padding-right: 8px;
	padding-bottom: 2px;
}

.chanlistimg0 {
	padding: 0 8px 0 0;
}

.chanlistimg1 {
	padding: 0 8px 0 0;
	background-color: #ffffc0;
}

.chanlistimg0 A:link, .chanlistimg1 A:link {
	display: inline;
	width: 0;
}

.chanlistrow1 {
	background-color: #ffffc0;
}

/* Chanlist End */


.chanList TD { word-wrap: break-word; }
.chanList TD A { word-break: break-all; display: inline-block; }
